@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

header img{
  align-content: center;
  width:30vw;
  max-width: 400px;
  min-width: 180px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  max-width: 220px;
  padding-top: 2vw;
  flex-grow: 1;
}



footer {
    text-align: center;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.2vh;
    color: #262626;
    min-width: 100vw;
}

/* THIS IS WHERE THE INPUT FOCUS GOES */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* THIS IS THE INPUT HOVER */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

/* THIS IS THE INPUT STYLE */

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  width: 30vw;
  min-width: 220px;
  max-width: 600;
  height: 50px;
  padding: 0px 10px 0px 10px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #262626;
  border-bottom: none;
}

input:hover {
  background: #262626;
  color: #B2B2B2;
}

textarea {
  width: 30vw;
  max-width: 600;
  min-width: 220px;
  height: 90px;
  max-height: 90px;
  padding: 10px;
  resize: none;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;

  border: solid 1px #262626;
}

textarea:hover {
  background: #262626;
  color: #B2B2B2;
}

#submit {
  width: 30vw;
  min-width: 220px;
  max-width: 640px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #262626;
  border-top: none;
}

#submit:hover {
  color: #B2B2B2;
}
