/* RESET AND HOUSEKEEPING +++++++++++++++++++++++++ */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
}


/* LAYOUT CONTAINERS ++++++++++++++++++++++++++++++

All items in this area are meant to be wrappers for styling purposes.

*/

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* HEADER +++++++++++++++++++++++++++++++++++++++++

All items in this area are realted to the header text and image.

*/

header {
    display: flex;
    border-bottom: 3px solid #262626;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 7vh;
    font-family: 'Roboto', sans-serif;
    color: #262626;
    font-weight: 300;
    letter-spacing: 10px;
}

.header-logo {
    width: 20vh;
    height: 20vh;
    /*max-width: 200px;
    min-width: 100px;
    max-height: 200px;
    min-height: 100px;*/
    /*max-height: 10vh;*/
}

.header-logo::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.header-logo img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}


/* PANELS +++++++++++++++++++++++++++++++++++++++++

All items in this area are related to the panel titles and content.

*/

.panel-container, article, .panel-title, .panel-content, p {
    margin: 0;
}

.panel-container {
    display: block;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;*/
    overflow: auto;
    height: 70vh;

}

.panel-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.panel {
    flex-grow: 1;
}

article {
    display: flex;
    flex-direction: column;
}

.panel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    flex-grow: 1;
    background-color: white;
    /*border-top: 3px solid #262626;*/
    /*border-bottom: 3px solid #262626;*/

    color: #262626;
    font-weight: 100;
    font-size: 4vh;
    min-height: 17vh;
}

/*.panel-title.strategy {
  border-top: none;
}

.panel-title.design {
  border-bottom: none;
}*/

.panel-title.strategy:hover {
  background-color: rgba(235, 136, 106, 0.8);
}

.panel-title.strategy:active, .panel-title.strategy:active {
  background-color: red;

}

.panel-title.design:hover {
  background-color: rgba(65, 92, 125, 0.8);
}



.panel-title.development:hover {
  background-color: rgba(55, 156, 196, 0.8);
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.panel-content {
    height: 0;
    transition: height 0.5s;
    overflow: hidden;
    border-bottom: 3px solid #262626;
}


/* NAV ITEMS ++++++++++++++++++++++++++++++++++++++

All items in this are are related to the pinned nav.

*/

.nav-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;


    flex-shrink: 1;
    background-color: #262626;
    /*height: 100px;*/
    /*padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: .5em;*/
}

.nav-icons > a {
  text-decoration: none;
  color: white;
  font-size: 50px;
}
