/* +++++++++++ RESET and HOUSEKEEPING +++++++++++ */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    box-sizing: border-box;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
}


/* +++++++++++ PAGE LAYOUT +++++++++++ */

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* +++++++++++ HEADER LAYOUT +++++++++++ */

header {
    display: flex;
    border-bottom: 2px solid #e7e7e7;
}

/* +++++++++++ HEADER CONTENT +++++++++++ */

.header-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 2%;

    font-family: 'roboto  ', sans-serif;
    font-weight: 200;
    font-size: 4em;
}

.header-logo {
    width: 15vh;
    height: 15vh; /* ++++++ This has to add up to 100 */
}

.header-logo::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.header-logo img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}


/* +++++++++++ PANEL LAYOUT +++++++++++ */

.panel-container {
    display: block;
    overflow: auto;
    height: 78vh;
}
/*
.panel-wrapper {
    display: flex;
    flex-direction: column;
}*/

.panel {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e7e7e7;
}

/* +++++++++++ PANEL TITLE +++++++++++ */

.panel-title {
  display: flex;
  flex-grow: 1;

  min-width: 100vw;
  padding-left: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;

  font-family: 'roboto  ', sans-serif;
  color: #262626;
  font-weight: 300;
  font-size:2em;
  height: 10vh; /* ++++++ This has to add up to 100 */
}

#strategy-title {
  color: #868686;
  /*border-bottom: 3px solid black;*/
}

#design-title {
  color: #868686;
}

#dev-title {
  color: #868686;
}

/* +++++++++++ PANEL CONTENT LAYOUT +++++++++++ */

/* this is is for the default hidden state */
.panel-content {
  height: 0;
  transition: height 0.5s;
  overflow: hidden;
}

.inner-content {
  display: flex;
  flex-direction: column;
  height: 48vh;
  min-height: 48vh;
  max-height: 48vh; /* this has to add up to 100, use "min-height" here to forcethe content to stretch the full container. */
  width: 100vw;

  font-family: 'quicksand', sans-serif;
}

.content-title {
  color: #262626;
  font-size: 2em;
}

.content-body {
  font-size: 1.5em;
  color: #262626;
}

/* +++++++++++ STRATEGY PANEL +++++++++++ */

#strategy-content {
  background-image: url("../images/strategy.svg");
  background-size: 100vw;
  background-position: 80% 80%;
  background-repeat: no-repeat;
}

.inner-content {
  position: relative;
  top: 10%;
  left: 10%;
}

#strategy-content-title {

}

#strategy-content-body {

}

/* +++++++++++ DESIGN PANEL +++++++++++ */

#design-content {
  background-image: url("../images/design.svg");
  background-size: 100vw;
  background-position: 80% 80%;
  background-repeat: no-repeat;
}

#design-content-title {

}

#design-content-body {

}

/* +++++++++++ DEV PANEL +++++++++++ */

#dev-content {
  background-image: url("../images/development.svg");
  background-size: 100vw;
  background-position: 80% 80%;
  background-repeat: no-repeat;
}

#dev-content-title {

}

#dev-content-body {

}

.dev-panel {
  border-bottom: none;
}

/* +++++++++++ NAVIGATION LAYOUT +++++++++++*/

nav {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

/* +++++++++++ NAVIGATION CONTENT +++++++++++*/

.nav-item {
  /*display: flex;*/
}

#home {
  display: block;
  height: 100px;
  width: 100px;
  background-image: url(./images/icons-sprite.svg)
  }


#resume {


}

#contact {


}
