html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1vw;
}

.header-logo {
    width: 20%;
}

.header-logo::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.header-logo img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.main {
    background-color: #262626;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 10vh;
}

.aligner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.aligner-item {
    max-width: 80%;
}

.aligner-item-top {
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.aligner-item-bottom {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.body-copy {
    font-family: 'Lato', sans-serif;
    font-size: 2.5vh;
    font-weight: 100;
    color: rgb(178, 178, 178);
}

nav {
    background-color: #262626;
    /*padding-top: 5vh;*/
}
/*div .toggle-container {
  width: 100%;
  display: flex;
  flex-shrink: 1;
  padding: 1em;
  justify-content: : center;

}*/


#nav-button {
  margin: 0 auto;
  min-width: 8%;
  width: 8%;
  max-width: 58px;
  background-image: url("../images/nav-toggle.png");
  background-position: 100% 0;
  background-size: 200% 100%;
}

#nav-button::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/*
#nav-button:hover, #nav-button:focus {
    background-position: 100% 0%;
    transition-delay: .1s;
}*/

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top:.5em;
}

.nav-icons a {

    min-width: 10%;
    width: 15%;
    max-width: 75px;
    margin: 5px 5px;
}

.nav-icons a::before {
    content: '';
    display: block;
    padding-bottom: 100%;
    background-repeat: no-repeat;
}
nav.toggle #nav-button {
  background-position: 0% 0%;
}

nav.toggle .nav-icons {
  display: none;
}


#me {
    background-image: url("../images/icon-sprite-sheet.png");
    background-position: 0 0;
    background-size: 500% 200%;
}

#me:hover, #me:focus {
    background-position: 0 100%;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
}

#cv {
    background: url("../images/icon-sprite-sheet.png");
    background-position: 25% 0;
    background-size: 500% 200%;
}

#cv:hover, #cv:focus {
    background-position: 25% 100%;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
}

#exp {
    background: url("../images/icon-sprite-sheet.png");
    background-position: 50% 0;
    background-size: 500% 200%;
}

#exp:hover, #exp:focus {
    background-position: 50% 100%;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
}
#txt {
    background: url("../images/icon-sprite-sheet.png");
    background-position: 75% 0;
    background-size: 500% 200%;
}

#txt:hover, #txt:focus {
    background-position: 75% 100%;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
}
#hi {
    background: url("../images/icon-sprite-sheet.png");
    background-position: 100% 0;
    background-size: 500% 200%;
}

#hi:hover, #hi:focus {
    background-position: 100% 100%;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
/*}
footer {
    background-color: #262626;
    text-align: center;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.2vh;
    color: rgb(178, 178, 178);
}*/
}
